<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login akun</title>
    <link rel="icon" href="../img/LogoWebsite.png">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css">
    <link rel="stylesheet" href="../website/css/index.css">
</head>
<body>
    <form>
        <div class="form-login">
            <p>Hai, silahkan login yah ^_^ </p>
            <div class="input-group">
                <label for="username">Username: </label>
                <input type="text" placeholder="Masukkan username" id="username">
            </div>
            
            <div class="input-group">
                <label for="password">Password: </label>
                <input type="password" placeholder="Masukkan password" id="password">
            </div>

            <p>Belum punya akun? silahkan <a href="/register" id="daftar">daftar</a></p>
            
            <div class="submit">
                <button type="submit" id="enter">Enter</button>
            </div>
        </div>
    </form>
    <script src="../website/js/index.js"></script>
</body>
</html>
